<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247284006843-8bjnjhbfcfj6a0r6309059j97e55opd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247284006843-8bjnjhbfcfj6a0r6309059j97e55opd9</string>
	<key>API_KEY</key>
	<string>AIzaSyCihroRz4Zxye7JQtBcSUK1KqHKnixezqU</string>
	<key>GCM_SENDER_ID</key>
	<string>247284006843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abdullah.TimeTrackerTutorial</string>
	<key>PROJECT_ID</key>
	<string>timetrackerapp-7b08e</string>
	<key>STORAGE_BUCKET</key>
	<string>timetrackerapp-7b08e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247284006843:ios:61a30093dbaa272d99ce9e</string>
</dict>
</plist>